

table{
  table-layout: fixed;
  font-family: HelveticaNeue;
  background-color: darken(#ffffff, 15%);
  width:18.75em;
  border-collapse:collapse;
  border: 1px solid darken(#ffffff, 45%);
  padding: 0.3em 0.3em 0.3em 0.3em;
}

tbody tr{
  border-top: 1px solid darken(#ffffff, 45%);
}

td{
  text-align: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.bullet{
  color: darken(#a6e2eb, 40%);
  font-weight: bold;
}

.button{
  margin-top:0.75em;
  margin-bottom:0.75em;
  cursor: pointer;
  background-color: darken(#ffffff, 10%);
  padding: 0.25em;
}

.dayCell{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.headerTitle{
  font-weight: bolder;
  text-align: left;
  padding-left: 1.25em;
}

#staticCurrentDay{
  background-color: darken(#ffffff, 5%);
  border-radius: 0.7em 0.7em 0.7em 0.7em;
}

.rangeCurrentDay{
  background-color: darken(#a6e2eb, 15%);
  border-radius: 0.7em 0.7em 0.7em 0.7em;
  padding-top: 0.25em;
  padding-bottom:0.25em;
}

.rangeNotCurrentDay{
  padding-top: 0.25em;
  padding-bottom:0.25em;
}

.rangeStart{
  background-color: darken(#d5f1f6, 10%);
  border-radius: 0.7em 0.0em 0.0em 0.7em;
  margin-left:0.2em;
}

.rangeMiddle{
  background-color: darken(#d5f1f6, 10%);
}

.rangeEnd{
  background-color: darken(#d5f1f6, 10%);
  border-radius: 0em 0.7em 0.7em 0em;
  margin-right:0.2em;
}

#leftButton{
    border-top-left-radius:0.5em;
    border-bottom-left-radius:0.5em;
}

#rightButton{
    border-top-right-radius:0.5em;
    border-bottom-right-radius:0.5em;
}
